
body{
    background-color:#656f9e;
    color:#000000
}
header{
    background-color:#565f8a ;
    color:#312c2c;
}


h1 {
    font-size:#302A29;
}

h2 {
    color: #3f4a77;
}

p {
    font-size:#050101 ;
    line-height:333B59 ;
}
