
body{
    background-color:#656f9e;
    color:#000000;
    font-family: Arial, sans-serif;
}
header{
    background-color:#565f8a ;
    color:#312c2c;
    text-align: center;
    padding: 30px;
}


h1 {
    font-size:#302A29;
}

h2 {
    color: #3f4a77;
}

p {
    font-size:#050101 ;
    line-height:333B59 ;
}
nav {
    margin-top: 20px;
}
nav a {
    color:#000000;
    text-decoration: none;
    background-color:white;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;

}

nav a:hover {
    background-color: #000000;
}

main{
    width: 80%;
    margin: auto;
}
    section{
background-color:white;
margin: 20px;
padding: 20px;
border-radius: 12px;
}
img{
width: 100%;
max-width: 600px;
display: block;
margin: auto;
border-radius: 12px;
}
figcaption{
text-align: center;
font-family: 14px;
color: #000000;
margin-top: 8px;
}
card {
    background-color: #000000;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #000000;
    border-radius: 10px;

}

card h3 {
    margin-top: 0;

}

footer {
    background-color: #000000;
    color:aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


